body {
  color: #000000;
  background-color: #ffffff;
}

:focus {
  outline: none;
}

.service-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  margin: 2rem;
}

.service-form__field {
  display: flex;
  flex-flow: column nowrap;
}

.form-input {
  box-sizing: border-box;
  padding: 0.25rem;
  height: 2.2rem;
}

.form-btn {
  box-sizing: border-box;
  padding: 0.25rem;
  height: 2.2rem;
  border: 0 none;
  margin: 1px;
  background-color: #ececec;
  cursor: pointer;
}

.form-btn:hover {
  color: #ffffff;
  background-color: #bbbbbb;
}

.service-list {
  margin: 2rem;
  padding: 0;
  max-width: 450px;
}

.service-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0.75rem 0;
  padding-left: 0.5rem;
}

.service-item::before {
  content: "●";
  margin-right: 0.5rem;
}

.service-item__name {
  flex: 1 0 auto;
  margin-right: 1rem;
}

.service-item__price {
  margin-right: 1rem;
}

.icon-btn {
  display: flex;
  padding: 0.5rem;
  border: 0 none;
  margin: 1px;
  background-color: #ececec;
  cursor: pointer;
}

.icon-btn svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #000000;
}

.icon-btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.icon-btn:disabled svg {
  fill: #525252;
}

.icon-btn:hover {
  background-color: #bbbbbb;
}

.icon-btn:hover svg {
  fill: #ffffff;
}
